$family-sans-serif: 'Roboto', sans-serif;

/**
 * Font sizes
 * @type {[type]}
 */
$larablog-h2-size: 1.375rem;
$laralog-standard-size: 0.875rem;

/**
 * Colors
 * @type {[type]}
 */
$larablog-standard-color: #585858;